/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Name]
      ,DATEDIFF(YEAR, Birthdate, GETDATE()) AS [Age in Years]
	  ,DATEDIFF(MONTH, Birthdate, GETDATE()) AS [Age in Months]
	  ,DATEDIFF(DAY, Birthdate, GETDATE()) AS [Age in Days]
	  ,DATEDIFF(MINUTE, Birthdate, GETDATE()) AS [Age in Minutes]
  FROM [Orders].[dbo].[People]